@page "/"
@layout GoLayout

<PageTitle>experienced.pro || Coming soon...</PageTitle>

    <div id="app">
        <div class="container-fluid d-flex flex-column align-middle justify-content-center min-vh-100 min-vw-100 bg-white text-center">
            <div class="text-center"><img src="images/experienced-pro-500x500.png" height="250" /></div>
            <div class="h1 p-5 text-center" style="font-family: Montserrat, sans-serif; font-weight: 500;">
                <strong>Coming soon...</strong>
            </div>
        </div>
    </div>